<%- include ('partials/header.ejs')%>
    <body>
        <%- include ('partials/navbar.ejs')%>
        <div class="container">
            <div class="card-body">
                <hr>
                <h1><%= pergunta.titulo %></h1>
                <h2><%= pergunta.descricao %></h2>
                <hr>
            </div>
        </div>
    </body>
<%- include ('partials/footer.ejs')%>